* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

/*
font: Raleway
Color: #707070
*/

.logo-home {
padding-top: 1%;
display: flex;
justify-content: center;
/* border: 1px solid green; */
height: 200px;
}

#logo-home {
  display: flex;
  justify-content: center;
  /* border: 1px solid blue; */
  height: 200px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  padding-left: 30%;
  padding-right: 30%;
  /* border: 1px solid yellow; */
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em; 
  text-decoration: none;
  margin: 20px 0px;
}

#hero {
  background-image: url(/assets/img/fotoprincipal.jpg);
  height: 70vh;
  width: 100vw;
  background-size: cover;
  background-position: top;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  /* border: 1px solid black; */
  padding-top: 14%;
  opacity: 0.9;
  margin-top: 2%;
  margin-bottom: 20px;
  

}

.title {
  color: #707070;
  padding: 10px;
  font-size: 3em;
  text-align: center;
  padding-bottom: 10px;
}
.title1 {
  color: #707070;
  padding: 30px;
  font-size: 4em;
  text-align: center;

}

.container{
display: flex;
justify-content: space-around;
/* border: 1px solid springgreen; */
margin: 20px;


}



.servicios{
width: 20%;
background: #ffffff;
  /* border: 1px solid blue; */
  padding: 10px;
  text-align: center;
font-family: 'Raleway', sans-serif;
  color: #707070;
  padding: 30px; 
box-shadow: 0px 0px 10px 5px rgb(236, 235, 235);
border-radius: 5px;

}

.text{

  padding: 20px;

}








/* Aqui inicia el Diseño Responsivo */

@media (max-width: 600px) {

 #logo-home {
display: flex;
justify-content: center;
/* border: 1px solid blue; */
width: 100%;
align-items: center;
margin: 0px;
}

nav {
  display: flex;
  justify-content: space-around;
/* border: 1px solid blueviolet; */
margin-top: 0px;
padding-left: 1px;
padding-right: 2px;
text-decoration: none;

}

#hero {
  background-image: url(/assets/img/fotoprincipal.jpg);
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  /* border: 1px solid gray; */
  text-align: center;
  opacity: 0.9;
  margin-top: 2%;
  align-items: center;
}



.iconos{
width: 30px;
}

.title {
  color: #707070;
  padding: 10px;
  font-size: 1em;
  text-align: center;
}
.title1 {
  color: #707070;
  padding: 30px;
  font-size: 2em;
  text-align: center;

}

.container{
display: flex;
flex-direction: column;
align-items: center;
/* border: 1px solid springgreen; */
margin: 20px 0px;

}

.servicios{
width: 55%;
background: #ffffff;
  /* border: 1px solid blue; */
  padding: 10px;
  text-align: center;
font-family: 'Raleway', sans-serif;
  color: #707070;
  padding: 30px;
margin: 10px 0px;
box-shadow: 0px 0px 10px 5px rgb(236, 235, 235);
border-radius: 5px;

}